body {
    background-color: rgb(235, 146, 198);
}
header {
    background-color: rgb(103, 6, 214);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
}
p {
    color:rgb(25, 1, 41);
    font-size: medium;
}
.right{
     float: right;
  
}
.left {
    float: left;
      
}
section img {
    width: 300px;
    height: 300px;
}