* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ef0d0d;
  --dark-color: #030305;
}

/* nav  */
.navbar {
  background-color: var(--dark-color);
  padding: 35px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar .logo {
  font-weight: bold;
  font-size: larger;
  color: white;
  justify-content: left;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;

  margin-right: 80px;
  gap: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: large;
}

.navbar ul li a:hover {
  background-color: rgb(243, 32, 32);
}

.navbarul ul li a:active {
  text-decoration: underline;
}

.navbar .active_page {
  color: var(--primary-color);
}

/* container */
.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 125px;
}

/* home style */
.container .home_style {
  background-image: url("../img/home_background.jpg ");
  margin-top: 50vh;
  padding: 20px 25px;
  border-radius: 20px;
}

.container .home_style div p {
  font-size: 25px;
  margin-bottom: 10px;
}

.container .home_style .link {
  background-color: var(--primary-color);
  text-decoration: none;
  padding: 7px 20px;
  color: white;
}

.container .home_style .link:hover {
  opacity: 0.87;
}

/* footer */
.footer_style {
  background-color: var(--dark-color);
  text-align: center;
  padding: 15px;
  margin-top: 45px;
}

.footer_style p {
  font-size: 20px;
  color: white;
}

/* products style  */
section img {
  width: 100px;
  height: 120px;
  border: 2px dotted black;
  border-radius: 15px;
}

section h3 {
  margin-top: 15px;
  margin-bottom: 18px;
  color: red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.container .link {
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
}

/* services style */
.flex {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1rem;
  margin-top: 15px;
}

.flex_item {
  border: 3px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #a77272f5;
  padding: 8px 15px;
}

.flex_item ol {
  list-style-position: inside;
}

/* contact */
.contact {
  margin-top: 50px;
}

.contact img,
.contact i {
  width: 10px;
  height: 15px;
  margin-right: 7px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar .logo {
    text-align: center;
    margin-bottom: 8px;
  }

  .navbar ul {
    justify-content: center;
  }

  .container .home_style {
    margin-top: 200px;
    margin-bottom: 70px;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
